body {
  margin: 0;
  font-family: monospace;
}
button {
  font-family: inherit;
  font-size: large;
  cursor: pointer;
}
td {
  font-size: 150%;
}
th {
  font-size: 150%;
  text-align: left;
}
tr.questionLink:hover {
  background-color: #ffff99;
}
.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  background-color: #fff;
  color: #444;
}
.question {
  padding: 20px;
  font-size: 150%;
}

.clickable {
  cursor: pointer;
}
.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}
.box::after {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  z-index: -1;
  padding: 20px;
  font-size: 150%;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.box:hover {
  transform: scale(1.05, 1.05);
}
.box:hover::after {
  opacity: 1;
}
.container {
  position: absolute;
  display: grid;
  top: 0px;
  bottom: 40px;
  width: 100%;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: 40px auto 40px;
}

.homeButton {
  position: relative;
  height: 100%;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: center;
}
.quizView {
  position: relative;
  height: 100%;
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  justify-self: center;
}
.nextButton {
  position: relative;
  height: 100%;
  width: 70%;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: center;
}

.backButton {
  position: relative;
  height: 100%;
  width: 70%;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: center;
}

.landingButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
}
.submitButton {
  position: relative;
  height: 100%;
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: center;
}
